
<div class="topnav" style="margin-top: 50px;">
  <a [ngClass]="{'active': tab === 'home'}" href="/home">Home</a>
  <a [ngClass]="{'active': tab === 'resident'}" *ngIf="showResident" href="/residents">Residents</a>
  <a [ngClass]="{'active': tab === 'apartment'}" *ngIf="showApartment" href="/apartments">Apartments</a>
  <a [ngClass]="{'active': tab === 'user'}" *ngIf="showUser" href="/users">Users</a>
  <a [ngClass]="{'active': tab === 'permission'}" *ngIf="showPermission" href="/permissions">Permission</a>
  <a [ngClass]="{'active': tab === 'buildingcategory'}" *ngIf="showBuildingCategory" href="/buildingcategory">Building</a>
  <a [ngClass]="{'active': tab === 'address'}" *ngIf="showAddress" href="/address">Address</a>
  <a [ngClass]="{'active': tab === 'urbanarea'}" *ngIf="showUrbanArea" href="/urbanarea">UrbanArea</a>

  <a [ngClass]="{'active': tab === 'customer'}" *ngIf="showCustomer" href="/customers">Customers</a>
  <a  href="/login">Login</a>
  <a (click)="logout()">Logout</a>
</div>

<div style="padding-left:16px">
  <div>
    
    <router-outlet></router-outlet></div>
</div>
  